.icon {
  z-index: 1;
}

.displayMessage {
  position: absolute;
  top: 1rem;
  right: 1rem;
  animation: fadeOut 8s ease-out;
  display: none;
}

@keyframes fadeOut {
  0%,
  50% {
    display: block;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

section {
  background-color: #fff;
}

@media (width >=768px) {
  .icon {
    display: none;
  }
  section {
    background-color: transparent;
  }

  .inner {
    background-color: #fff;
    border-radius: 10px;
  }
}
